<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header ">
    <div class="elexLogo"> <div class="text"> <h3>ELECTION</h3> </div> <img src="https://static.startribune.com/news/projects/all/20200303-elex-results/build/img/ELEX2020.svg" alt="Election 2020"> </div>
    <h1>Majority absentee voting signals Minnesota's new normal</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2020-08-17T16:00:00">August 24, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>

    <div class="slide">
      <div class="center">&nbsp;</div>
      <div class="center">
        <div class="chartTitle odometer purple">0</div>
        <p>&nbsp;</p>
        <div class="chartTitle">early votes were counted in this year's state primary...</div>
      </div>

        <!-- <p>&nbsp;</p> 

        <div class="chartTitle">...of at least 757,000 requested absentee and mail ballots...</div> -->

        <!-- <div class="chart">
          <div class="bar">
            <div class='purple3 mainbar' style="width:72%"><div>accepted early votes<br />72%</div></div><div class='gray2 mainbar' style="width:28%"><div>&nbsp;<br />&nbsp;</div></div>
            </div>
        </div> -->

        <p>&nbsp;</p> 

        <div class="chartTitle">...comprising most of the estimated 912,700 total votes.</div>
        <div class="chart">
          <div class="bar">
            <div class='purple3 mainbar' style="width:60%"><div>absentee/mail<br />60%</div></div><div class='gray2 mainbar' style="width:40%"><div>&nbsp;<br />&nbsp;</div></div>
          </div>
        </div>
        </div>
        
          <section class="container-lg leadin">
              <p>&nbsp;</p> 
              
            <p>Amid continuing pandemic conditions, absentee and mail balloting has become a new normal, with surges in early voting providing possible previews of November's general election trends.</p>

            <p>It also helped drive the highest primary <a href="http://vote.minneapolismn.gov/results/turnout" target="new_">turnout for Minneapolis</a> in five decades, with two-thirds of the city's ballots being cast early (and less than 1% were spoiled).</p>
    
            <p>Minnesotans have used no-excuse mail and in-person early voting since 2014, which has steadily increased in popularity, allowing for a simpler transition into coronavirus-era elections.</p>

            <p>And Minnesotans requested more absentee ballots this year than 2016's entire state primary vote, which helped triple overall <span class="legendary purple3">turnout</span> compared to the last presidential cycle.</p>
          </section>
        
      <div class="slide">

        <p>&nbsp;</p> 

        <div class="chart adjacent">
            <div class="label">2020</div>
                <div class="bar">
                <div class='purple3 mainbar' style="width:22%"><div>&nbsp;<br />22%</div></div><div class='gray2 mainbar' style="width:78%"><div>&nbsp;<br />&nbsp;</div></div>
            </div>
                  
            <div class="label">2018</div>
              <div class="bar">
                <div class='purple3 mainbar' style="width:23%"><div>&nbsp;<br />23%</div></div><div class='gray2 mainbar' style="width:77%"><div>&nbsp;<br />&nbsp;</div></div>
              </div>
                  
            <div class="label">2016</div>
              <div class="bar">
                <div class='purple3 mainbar' style="width:12%"><div>&nbsp;<br />7%</div></div><div class='gray2 mainbar' style="width:88%"><div>&nbsp;<br />&nbsp;</div></div>
              </div>

            <div class="label">2014</div>
              <div class="bar">
                <div class='purple3 mainbar' style="width:15%"><div>&nbsp;<br />10%</div></div><div class='gray2 mainbar' style="width:85%"><div>&nbsp;<br />&nbsp;</div></div>
            </div>
        </div>
      </div>

      <section class="container-lg leadin">
          <p>&nbsp;</p> 
          
        <p>Many Twin Cities metro area counties saw most of their primary vote arrive absentee, despite mail-in balloting traditionally being more common in rural areas. Only about 5% of the early vote was in-person.</p> 
      </section>

      <div class="slide">

          <div id="mapCounties" class="map"><svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
          
          <div class="center">
            <div id="mainlegend">Percent of vote that was absentee/mail</div>
            <div class="legend"><div class="white">0%&nbsp;</div><div class="null"></div><div class="purple1"></div><div class="purple2"></div><div class="purple3"></div><div class="purple4"></div><div class="purple5"></div><div class="white">&nbsp;100%</div></div>
          </div>

          <div class="byline">Data source: Minnesota Secretary of State</div>
      </div>
  
      <section class="container-lg leadin">
          
        <p>Strained operations at the United States Postal Service have <a href="https://www.startribune.com/in-battle-over-mail-in-voting-the-mail-in-minnesota-is-running-late/572128792">sparked nationwide political controversy</a> and congressional action around delayed results and possibly lost absentee ballots in upcoming November contests.</p>

        <p>Even with a two-day extension beyond primary day this year, at least a quarter of requested early ballots weren't counted, with some remaining unreturned, arriving late or being rejected for various reasons.</p>

        <p>The general election on November 3 will likely test Minnesota's capacity to handle influxes of voters mailing-in their ballots as absentee voting takes on crucial significance.</p> 
      </section>


<section class="container-lg">
    <div class="article-author-contact">
        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Majority absentee voting signals Minnesota's new normal" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
    </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>