<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header ">
    <div class="elexLogo"> <div class="text"> <h3>ELECTION</h3> </div> <img src="https://static.startribune.com/news/projects/all/20200303-elex-results/build/img/ELEX2020.svg" alt="Election 2020"> </div>
    <h1>Majority absentee voting signals Minnesota's new normal</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2020-08-17T16:00:00">August 25, 2020</time>
  </div>
  <p></p>
  <!-- share -->
</section>

    <div class="slide">
      <div class="center">&nbsp;</div>
      <div class="center">
        <div class="chartTitle odometer purple">0</div>
        <p>&nbsp;</p>
        <div class="chartTitle">early votes were counted in this year's state primary...</div>
      </div>

        <p>&nbsp;</p> 

        <div class="chartTitle">...comprising most of 912,700 total votes.</div>
        <div class="chart">
          <div class="bar">
            <div class='purple3 mainbar' style="width:60%"><div>absentee/mail<br />60%</div></div><div class='gray2 mainbar' style="width:40%"><div>&nbsp;<br />&nbsp;</div></div>
          </div>
        </div>
        </div>
        
          <section class="container-lg leadin">
              <p>&nbsp;</p> 
              
            <p>Six out of every 10 Minnesotans who voted in the August primary election cast their ballot absentee or by mail — a surge that helped voter turnout to nearly triple over the last presidential election year in 2016.</p>

            <p>According to numbers received last week from the Secretary of State's office, an estimated 543,652 of the 912,714 ballots cast in the primary were submitted under the state's no-excuse absentee voting rules, which allow voters to request a ballot before Election Day and submit it by mail or in person without having to visit their traditional polling place.</p>

            <p>That option has become increasingly popular since it was enacted in 2014 but exploded in popularity this year due to the coronavirus pandemic. In fact, more Minnesotans cast more absentee ballots this year than voted in any capacity during the 2016 primary.</p>
          </section>
        
      <div class="slide">

        <p>&nbsp;</p> 

        <div class="chart adjacent">
          <div class="chatter"><strong>Minnesota state primary turnout by year</strong></div>
          <p>&nbsp;</p> 
            <div class="label">2020</div>
                <div class="bar">
                <div class='purple3 mainbar' style="width:22%"><div>&nbsp;<br />22%</div></div><div class='gray2 mainbar' style="width:78%"><div>&nbsp;<br />&nbsp;</div></div>
            </div>
                  
            <div class="label">2018</div>
              <div class="bar">
                <div class='purple3 mainbar' style="width:23%"><div>&nbsp;<br />23%</div></div><div class='gray2 mainbar' style="width:77%"><div>&nbsp;<br />&nbsp;</div></div>
              </div>
                  
            <div class="label">2016</div>
              <div class="bar">
                <div class='purple3 mainbar' style="width:12%"><div>&nbsp;<br />7%</div></div><div class='gray2 mainbar' style="width:88%"><div>&nbsp;<br />&nbsp;</div></div>
              </div>

            <div class="label">2014</div>
              <div class="bar">
                <div class='purple3 mainbar' style="width:15%"><div>&nbsp;<br />10%</div></div><div class='gray2 mainbar' style="width:85%"><div>&nbsp;<br />&nbsp;</div></div>
            </div>
        </div>
      </div>

      <section class="container-lg leadin">
          <p>&nbsp;</p> 

        <p>Locally, it also helped drive Minneapolis' highest primary turnout in 50 years. Roughly two-thirds of the city's ballots were cast early, and less than a percent of absentee votes were spoiled.</p>

        <p>Many counties in the Twin Cities metro area also saw most of their primary vote arrive absentee, despite mail-in balloting traditionally being more common in rural areas. Some areas of Greater Minnesota, including Cook County and Grant County, saw more than 90 percent of their ballots cast absentee.</p>
        
        <p>Only about 5 percent of the total early vote was in-person.</p> 
      </section>

      <div class="slide">

          <div id="mapCounties" class="map"><svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
          
          <div class="center">
            <div id="mainlegend">Percent of vote that was absentee/mail</div>
            <div class="legend"><div class="white">0%&nbsp;</div><div class="null"></div><div class="purple1"></div><div class="purple2"></div><div class="purple3"></div><div class="purple4"></div><div class="purple5"></div><div class="white">&nbsp;100%</div></div>
          </div>

          <div class="byline">Data source: Minnesota Secretary of State</div>
      </div>
  
      <section class="container-lg leadin">
          
        <p>The general election on November 3 will likely test Minnesota's capacity to handle an even greater surge of voters mailing their ballots as absentee voting takes on increased significance.</p> 

        <p>Strained operations at the United States Postal Service have sparked <a href="https://www.startribune.com/minnesota-joins-suit-to-protect-election-mail/572153712/">concerns among lawmakers</a> and advocates that some ballots may be lost or not arrive in time to be counted.</p>

        <p>Even with a two-day extension beyond primary day this year, at least a quarter of Minnesota's requested early ballots weren't counted, with some remaining unreturned, arriving late or being rejected for various reasons.</p>

        <p>Other states have also seen significant delays in announcing the winners of some races as their election authorities have been forced to adapt to counting large numbers of mail-in ballots. In contrast, the winners of Minnesota's major races were all known on election night.</p>

        <!-- <p><em>Staff writer Torey Van Oot contributed to this report.</em></p> -->
      </section>


<section class="container-lg">
    <div class="article-author-contact">
        <div class="article-author-hcard">
                <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Majority absentee voting signals Minnesota's new normal" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
        </div>
    </div>
</section>
</div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>